/* ini css */

body {
    background-color :rgb(124, 136, 117);
    color: white;
}

.button {
    display: inline-block;
    /* padding: 15px 25px; */
    /* font-size: 24px; */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    /* color: #fff; */
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.main-title {
    text-align: center;
}

main {
    display: flex;
}

form {
    color : black;
    padding: 12px;
    border-radius :8px;
    background-color: rgb(88, 97, 57);
}

aside {
    padding: 48px;
}

.button {
    height: 32px;
    border: none;
    border-radius: 4px;
}

.form-btn-container {
    margin-top: 24px;
    margin-bottom: 16px;
}

.bg-hitung {
    background-color : cornsilk;
}

.bg-reset {
    background-color : red ;
    color: white;
}

input [type=number]{
    width: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border : 1px solid  #ccc;
    border-radius : 4px ;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

footer {
    text-align: center;
}

.hasil {
  text-align: center;
}

.keterangan {
    text-align: center;
}